@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.font{
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    display: flex;
    width: 100vw;
    height: 4rem;
    background-color: #ffffff1f;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.section-exchange{
    background-image: url(../images/background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-exchange{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    position: relative;
    max-width: 70rem;
}

.exchange{
    display: grid; 
    align-items: center;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 2fr 1.5fr 0.5fr 1.5fr; 
    grid-template-rows: 2.5em 3.5em; 
    gap: 0em 1em; 
    grid-template-areas: 
        "label-input label-input-money . label-output-money"
        "input input-money arrow output-money"; 
    width: 100%; 
    height: 6em; 
}

.label-input { 
    grid-area: label-input; 
}

#input {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    grid-area: input; 
    height: 2rem;
    border-radius: 15px;
    border: 1px #001220 solid;
    padding-inline: 0.5rem;
}

.label-input-money {
    grid-area: label-input-money; 
}

#input-money {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    grid-area: input-money;
    height: 2.2rem;
    border-radius: 15px;
}

.arrow {
    grid-area: arrow;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img {
    height: 100%;
}

.label-output-money {
    grid-area: label-output-money;
}

#output-money {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    grid-area: output-money;
    height: 2.2rem;
    border-radius: 15px;
}

.container-submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin-top: 0.5rem;
    border-radius: 15px;
    border: none;
    background-color: #2a628f;
    color: #001220;
    height: 2rem;
    width: 6rem;
}

.result{
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-number{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
    max-width: 70rem;
}

.result-date{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #7e7e7e;
}

.section-usd{
    background-color: #001220;
    height: 35rem;
    display: flex;
    justify-content: center;
}

#container-usd{
    width: 60rem;
    height: 19.5rem;
    background-color: #fff;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}

.container-usd-title{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: #001220 1px solid;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.container-usd-title h2{
    width: 11rem;
}

.container-usd-type{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    border-bottom: #001220 1px solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.container-usd-type p{
    width: 11rem;
}

.container-usd-type span {
    animation-name: update;
    animation-duration: 2s;
}

.last{
    margin-bottom: 0;
}

.usdDate{
    margin-top: 0.25rem;
    font-size: 0.8rem;
    color: #7e7e7e;
    display: flex;
    justify-content: center;
}

@keyframes update {
    0%{
        color: #00ce22;
    }

    100%{
        color: black;
    }
}